 header {
     width: 100%;
     padding: 20px 50px;
     box-sizing: border-box;
     display: grid;
     grid-template-columns: 30% 40% 30%;
     position: absolute;
     top: 0;
     z-index: 2;
 }

 header .logo-container {
     display: inline-flex;
     align-items: center;
 }

 header .logo-container .logo-container-img {
     background: url(../images/logo.png);
     background-position: top;
     background-size: cover;
     background-repeat: no-repeat;
     width: 40px;
     height: 40px;
 }

 header .logo-container .logo-container-first {
     color: #000;
     font-size: var(--logo-font-size);
     font-weight: 700;
 }

 header .logo-container .logo-container-last {
     color: #EC5863;
     font-size: var(--logo-font-size);
     font-weight: 700;
 }

 header nav {
     padding: 0 20px;
     display: flex;
     gap: 20px;
     align-items: center;
     justify-content: flex-end;
 }

 header nav span {
     color: #000;
     font-size: var(--nav-font-size);
     font-weight: 700;
     letter-spacing: 1.4px;
     text-transform: uppercase;

     cursor: pointer;
 }

 header .btns {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     gap: 15px;
 }

 header .btns button {
     width: 130px;
     height: 40px;
     border-radius: 5px;
     background: #4285F4;
     color: #FCFDFE;
     text-transform: uppercase;
     outline: none;
     border-color: transparent;
     /* margin: 0 0 0 auto; */
 }